body{
    background-color: #7f3004;
    color: ivory;
}

p{
    line-height: 24px;
    width: 800px;
}

h1{
    font-size: 40px;
    color: #F1E1A4;
    text-align: center;
    margin-bottom: 0;
    font-style: italic;
}
h3 {
    margin-top: 0;
    margin-bottom: 50px;
}

#header-img{
    width: 300px;
}

#europe-img{
    display: block;
    width: 600px;
    margin: 0 auto;
}

#throne-img {
    width: 800px;
}

#outro-img{
    display: block;
    width: 600px;
    margin: 0 auto;
}

.img-caption{
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

.section {
    margin-bottom: 100px;
}

h2{
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: ivory;
}